body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  transition: 0.3s;
}
.big_title a {
  color: #fff;
}
a:hover {
  color: #ECD0C4;
}

.background_gray {
  background-color: #272727;
}
.background_coral {
  background-color: #ECD0C4;
}

.btn-primary {
  transition: 0.3s;
  --bs-btn-color: #000;
  --bs-btn-bg: #CBCBCB;
  --bs-btn-border-color: #CBCBCB;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ECD0C4;
  --bs-btn-hover-border-color: #ECD0C4;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #ECD0C4;
  --bs-btn-active-bg: #ECD0C4;
  --bs-btn-active-border-color: #ECD0C4;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #555;
  --bs-btn-disabled-border-color: #555;
}

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.font_ghost {
  color: #CBCBCB;
}

.maxw_90 {
  max-width: 90%;
  margin: 0 auto;
  padding: 50px 0;
}

.maxw_70 {
  max-width: 70%;
  margin: 0 auto;
  padding: 50px 0;
}

.big_title {
  font-size: 66px;
  line-height: 70px;
}

.navbar-brand img {
  height: 50px;
}

.menu_top {
  position: fixed;
  z-index: 10;
  background-color: #fff;
  width: 100%;
  padding: 10px;
  top: 0;
  left: 0;
}
.menu ul {
  padding: 0;
}
.menu ul li {
  display: inline-block;
  padding: 0 10px;
}
.menu a {
  font-weight: bolder;
  color: #000;
  opacity: 0.6;
  font-size: 20px;
  line-height: 20px;
}
.menu a.active,
.menu a:hover,
.menu a:focus {
  opacity: 1;
}

.section  {
  margin: 90px 0 0;
}

.default_image {
  max-width: 100%;
  display: block;
}

.image_header_background {
  height: 50vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image_header_background h1 {
  display: flex;
}

.item-background {
  background-position: center;
  background-size: cover;
}

.carousel-caption h2,
.image_header_background h1 {
  text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.5);
}

.min-vh-50 {
  min-height: 50vh;
}

footer ul {
  padding: 0;
}
footer ul li {
  list-style: none;
  margin-bottom: 10px;
}

footer p,
footer input {
  font-size: 16px;
  line-height: 18px;
}

.footer_logo img {
  height: 20px;
  width: auto;
  margin: 0 10px 0 0;
}

form input {
  display: block;;
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  background-color: none;
  background: none;
  border: 1px solid #CBCBCB;
  color: #fff;
}
form button {
  color: #000;
  background-color: #CBCBCB;
  padding: 15px 30px;
}

.footer-logo {
  max-width: 450px;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    flex-direction: row-reverse;
  }
}
@media (max-width: 992px) {
  .footer-logo {
    max-width: 300px;
  }
  .image_header_background {
    height: 45vh;
  }
}
@media (max-width: 768px) {
  .footer-logo {
    max-width: 200px;
  }
  .image_header_background {
    height: 40vh;
  }
}
